.card {
  margin: 20px 15px;
  width: 210px;
  height: 270px;
  position: relative;

  background: #ffffff;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 40px;
  display: flex;
  flex-direction: column;

  button {
    border: none;
    background: none;
  }

  transition: transform 0.3s ease;

  &:hover {
    background: #ffffff;
    border: 1px solid #f8f8f8;
    box-sizing: border-box;
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    transform: translateY(-5px);
  }
}

.cardInner {
  margin: 10px 30px 30px;

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 2px 0 8px;
    color: #000000;
    width: 150px;
  }
}
.subtext {
  height: 34px;
}

.favoriteIcon {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;

  img {
    cursor: pointer;
  }
}

.priceInner {
  flex: 1;
  width: 80px;

  p {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #bdbdbd;
  }

  b {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
}
.title {
  min-height: 40px;
}
.oldprice {
  font-weight: 400;
  text-decoration: line-through;
}
